.div-iconos {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    
           
    
    img {
        width: 50px;
        margin: 0.5rem;
        border-radius: 20px; 
        border: 1px solid $color-1; 

        &:hover {            
            box-shadow: 1px 1px 10px;       
       }             
    }
    }