

@media screen and (max-width: 1024px){

    .header {
        display: none;
    }
    
    .nav-burger {
        display: flex;
        color: white;
        background-color: #323031;
        height: 5rem;
        a {
            font-size: 2rem;
        }
        div {
            div {
                font-size: 1.5rem;
                h5{
                    font-size: 3rem;
                }
            }
            .nav-bg {
                background-color: transparent;
                color: white;
                font-size: 1.5rem;
                backdrop-filter: blur(100px);
            }
        }
    
    }

    .section-1 {
        h2 {
            font-size: 25px !important;
            text-decoration: underline;
            max-width: 100vw !important;
            padding: 2.5rem !important;
            
                                 
        }
        p {           
            max-width: 85vw !important;
            padding: 2.5rem;
            font-weight: 500;
        }
    }

    .section-2 {
        border-radius: 25px;
        border: 2px rgb(0, 0, 0) solid;
        margin-top: 10px !important;
        display: flex;
        flex-direction: column;
        
        h2 {
            font-size: 25px !important;
            text-decoration: underline;                      
            padding: 1rem !important;
            padding-top: 1.5rem !important;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: start !important;
            
            li {
                max-width: 85vw !important;
                padding: 0.5rem !important;
                font-weight: 600;
                
                
            }
        }
        }

    
    .imagen-banner {
        display: flex;
        max-width: 95vw;
        justify-content: center;
            img {
                width: 100%;
                border: white solid 1px;
            }
    }

    .footer {
        max-width: 80vw !important;
        .footer-list {
            li {
                margin: 1rem !important;
            }
        }
    }

    .formulario {
        height: 65vh !important;
        width: 85vw !important;
    }

    .cards {        
        grid-template-columns: 1fr !important;
        
    }

    .imagen-banner {
        width: 80% !important;
    }

    .main-servicio {   
        gap: 2rem;

        h1 {
            text-align: center;
            margin: 2rem !important;
        }

    .formulario-reparacion {
        max-width: 100vw !important;
        width: 90% !important;
        max-height: 80vh !important;
        height: 100% !important;
        
            .formulario {              
                width: 100% !important;
                height: 500px !important;
                          
            }

        .button {
            margin: 1rem !important;
            width: 400px !important;           
        }


    }
    }


    .main-tienda {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

        width: 100vw !important;
            h1, h2 {
                text-align: center;
            }

            .shop {
                display: flex !important;
                flex-direction: column !important;
                .cards-shop {
                    display: flex !important;
                flex-direction: column !important;
                }
            }

            

    }

    .main-empresa {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

        .main-content {
            max-height: 250px !important;
            height: 100%;
            text-align: center;
                h1 {
                    font-size: 3rem;
                    max-width: 90%;
                }
        }

        .info-empresa {
            max-width: 360px;
            width: 100%;
                h2 {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 2rem;
                }
        }

        .iconos-empresa {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
            max-width: 360px;
            width: 90%;
            height: 50%;

            
            
            div {
                width: 90%;
                display: flex !important;
                flex-direction: column !important;
                height: 340px;

                img {

                    height: 50%;
                    align-self: center;
                }
            }

        }
    }

}

